<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head(~{::title})}">
    <title th:text="${pageTitle}">Склад</title>
</head>
<body>
<div th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
    <main>
        <div th:replace="~{fragments/breadcrumbs :: breadcrumbs(pageTitle)}"></div>
        <h1 class="h4 mb-3" th:text="${pageTitle}">Склад</h1>

        <form th:action="@{${warehouse.id} != null ? '/warehouses/' + ${warehouse.id} + '/edit' : '/warehouses/new'}"
              th:object="${warehouse}" method="post" class="row g-3">
            <div class="col-md-4">
                <label class="form-label" for="code">Код</label>
                <input id="code" type="text" class="form-control" th:field="*{code}" required>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="name">Название</label>
                <input id="name" type="text" class="form-control" th:field="*{name}" required>
            </div>
            <div class="col-md-12">
                <label class="form-label" for="address">Адрес</label>
                <input id="address" type="text" class="form-control" th:field="*{address}">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Сохранить</button>
                <a class="btn btn-outline-secondary" th:href="@{/warehouses}">Отмена</a>
            </div>
        </form>
    </main>
</div>
</body>
</html>
